VITE_APP_MODE=replay
VITE_TXLINE_API_BASE=https://txline.txodds.com
VITE_TXLINE_API_TOKEN=your_txline_x_api_token_here
VITE_TXLINE_SESSION_JWT=
VITE_TXLINE_FIXTURE_ID=17588325
VITE_TXLINE_START_EPOCH_DAY=
VITE_TXLINE_COMPETITION_ID=
VITE_TXLINE_AS_OF_MS=
